.DS_Store
.ipynb_checkpoints
.DS_Store
/dist/
node_modules/
yarn-error.log
*.pth
data/
data
data/model
ipynb_checkpoints
metabase*
.venv
.pytest_cache
.vercel
*.ckpt
lightning_logs
__pycache__
*.pth
*.npz
data/converted/
data/images/
data/extracted/
data/stats/